<a href="https://colab.research.google.com/github/NabihaKhan3011/python/blob/main/assignment_1_and_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya'],
    'attempts': [1, 3, 1, 2],
    'score': [86, 50, 95, 65]
}

df = pd.DataFrame(data)

filtered_df = df[(df['attempts'] < 2) & (df['score'] > 15)]

print(filtered_df)

     name  attempts  score
0  Najiha         1     86
2  Mahiya         1     95

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya'],
    'attempts': [1, 3, 1, 2],
    'score': [30, 20, 18, 45]
}

df = pd.DataFrame(data)

df.at[2, 'score'] = 11.5

print(df)

     name  attempts  score
0  Najiha         1   30.0
1  Nabiha         3   20.0
2  Mahiya         1   11.5
3  Hadiya         2   45.0

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya'],
    'attempts': [1, 3, 4, 3],
    'score': [20, 12, 18, 16, ]
}

df = pd.DataFrame(data)

sum_attempts = df['attempts'].sum()

print("Sum of examination attempts:", sum_attempts)

Sum of examination attempts: 11

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya', 'Ahmedi', 'Mohammedi'],
    'attempts': [3, 1, 2, 1, 3, 2],
    'score': [80, 70, 75, 90, 65, 95]
}

df = pd.DataFrame(data)

mean_scores = df.groupby('name')['score'].mean()

print(mean_scores)

name
Ahmedi       65.0
Hadiya       90.0
Mahiya       75.0
Mohammedi    95.0
Nabiha       70.0
Najiha       80.0
Name: score, dtype: float64

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'hadiya'],
    'attempts': [1, 3, 1, 2],
    'score': [20, 12, 16, 19]
}

df = pd.DataFrame(data)

new_row = pd.DataFrame({'name': 'Ahmedi', 'attempts': 3, 'score': 15}, index=['k'])
df = df.append(new_row)

print("DataFrame with the new row:")
print(df)

DataFrame with the new row:
     name  attempts  score
0  Najiha         1     20
1  Nabiha         3     12
2  Mahiya         1     16
3  hadiya         2     19
k  Ahmedi         3     15

<ipython-input-14-e57d6d9e2d07>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row)

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya'],
    'attempts': [1, 3, 1, 2],
    'score': [20, 12, 16, 19]
}

df = pd.DataFrame(data)

new_row = pd.DataFrame({'name': 'Ahmedi', 'attempts': 3, 'score': 15}, index=['k'])
df = df.append(new_row)

print("DataFrame with the new row:")
print(df)

df = df.drop('k')

print("\nOriginal DataFrame after deleting the new row:")
print(df)

DataFrame with the new row:
     name  attempts  score
0  Najiha         1     20
1  Nabiha         3     12
2  Mahiya         1     16
3  Hadiya         2     19
k  Ahmedi         3     15

Original DataFrame after deleting the new row:
     name  attempts  score
0  Najiha         1     20
1  Nabiha         3     12
2  Mahiya         1     16
3  Hadiya         2     19

<ipython-input-15-8f7da4e8b9d5>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row)

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya', 'Ahmedi'],
    'attempts': [1, 3, 0, 1, 2],
    'score': [20, 12, 18, 16, 19]
}

df = pd.DataFrame(data)

df_sorted = df.sort_values(by=['name', 'score'], ascending=[False, True])

print(df_sorted)

     name  attempts  score
0  Najiha         1     20
1  Nabiha         3     12
2  Mahiya         0     18
3  Hadiya         1     16
4  Ahmedi         2     19

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya', 'Ahmedi'],
    'qualify': ['yes', 'no', 'yes', 'no', 'yes']
}

df = pd.DataFrame(data)

df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

print(df)

     name  qualify
0  Najiha     True
1  Nabiha    False
2  Mahiya     True
3  Hadiya    False
4  Ahmedi     True

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'James', 'David', 'Emma']
}

df = pd.DataFrame(data)

df['name'] = df['name'].replace('James', 'Suresh')

print(df)

     name
0   Alice
1     Bob
2  Suresh
3   David
4    Emma

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya'],
    'attempts': [1, 3, 1, 2],
    'score': [20, 12, 16, 19]
}

df = pd.DataFrame(data)

df = df.drop('attempts', axis=1)

print(df)

     name  score
0  Najiha     20
1  Nabiha     12
2  Mahiya     16
3  Hadiya     19

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya'],
    'score': [20, 12, 16, 19]
}

df = pd.DataFrame(data)

df['grade'] = ['A', 'C', 'B', 'A']

print(df)

     name  score grade
0  Najiha     20     A
1  Nabiha     12     C
2  Mahiya     16     B
3  Hadiya     19     A

In [ ]:
import pandas as pd

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya',],
    'score': [20, 12, 16, 19]
}

df = pd.DataFrame(data)

for index, row in df.iterrows():
    print("Row index:", index)
    print("Name:", row['name'])
    print("Score:", row['score'])
    print()

Row index: 0
Name: Najiha
Score: 20

Row index: 1
Name: Nabiha
Score: 12

Row index: 2
Name: Mahiya
Score: 16

Row index: 3
Name: Hadiya
Score: 19

In [ ]:
import pandas as pd
import numpy as np

data = {
    'name': ['Najiha', 'Nabiha', 'Mahiya', 'Hadiya', 'Ahmedi'],
    'score': [20, np.nan, 18, np.nan, 19],
    'age': [25, 30, np.nan, np.nan, 28]
}

df = pd.DataFrame(data)

nan_count_score = df['score'].isna().sum()

print("Number of NaN values in 'score' column:", nan_count_score)

nan_count_multiple = df[['score', 'age']].isna().sum()

print("\nNumber of NaN values in 'score' and 'age' columns:")
print(nan_count_multiple)

Number of NaN values in 'score' column: 2

Number of NaN values in 'score' and 'age' columns:
score    2
age      2
dtype: int64

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}

df = pd.DataFrame(d)

df.columns = df.columns.str.upper()

df.columns = df.columns + '_'

print(df)

   COL1_  COL2_  COL3_
0      1      4      7
1      2      5      8
2      3      6      9

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(d)

selected_rows = df[df.eq(4).any(axis=1)]

print(selected_rows)

   col1  col2  col3
0     1     4     7

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(d)

reversed_columns = df.loc[:, ::-1]

print(reversed_columns)

   col3  col2  col1
0     7     4     1
1     8     5     2
2     9     6     3

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(d)

new_row = {'col1': 3, 'col2': 52, 'col3': 4}

df = df.append(new_row, ignore_index=True)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3     3    52     4

<ipython-input-5-f17035c87cf0>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(d)

df = df[~df.eq(5).any(axis=1)]

print(df)

   col1  col2  col3
0     1     4     7
2     3     6     9